@import "_common";

$litemsg-padding: 28px;
$vp-mobile-litemsg-padding: 20px;

.PendingMsg {
  box-sizing: border-box;
  margin-bottom: 24px;
  max-width: 540px;
  color: #777777;
  box-shadow: $box-shadow-var1;
  padding: $litemsg-padding;
  background-color: #ffffff;
  border-radius: 16px;
  position: relative;
  transform-origin: center top;
}

.PendingMsg:last-child {
  margin-bottom: 0;
}

.VIEWPORT_MOBILE .PendingMsg {
  margin-bottom: 20px;
  padding: $vp-mobile-litemsg-padding;
}

.PendingMsg-overlay-bg {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px;
  // padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  // align-items: center;
  // justify-content: center;
  opacity: .8;
  // text-align: center;
}

.PendingMsg-overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: none;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.PendingMsg.msg-success .PendingMsg-overlay-bg,
.PendingMsg.msg-waiting .PendingMsg-overlay-bg,
.PendingMsg.msg-timeout .PendingMsg-overlay-bg,
.PendingMsg.msg-success .PendingMsg-overlay-content,
.PendingMsg.msg-waiting .PendingMsg-overlay-content,
.PendingMsg.msg-timeout .PendingMsg-overlay-content {
  display: flex;
}

.PendingMsg--overlay-success {
  display: flex;
  align-items: center;
  text-align: left;

  i {
    font-size: 3.2rem;
    flex-shrink: 0;
    padding-right: 16px;
    color: $bg-color-success;
  }

  span {
    flex-grow: 1;
  }
}
