@import '_common';

$nav-bar-height: 80px;
$nav-bar-height-collapse: 56px;

.Navbar {
  position: fixed;
  width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  display: flex;
  height: $nav-bar-height;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  transition: height .3s, background-color .3s, color .3s, box-shadow .3s;
}

.Navbar.collapse {
  height: $nav-bar-height-collapse;
  background-color: $bg-color-dark;
  box-shadow: $box-shadow;
  color: $text-color-var1;
}

.Navbar > div,
.Navbar > button, {
  flex-shrink: 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.Navbar .logo {
  flex-grow: 1;
}

.Navbar .logo-anchor {
  height: 100%;;
  line-height: $nav-bar-height;
  transition: .3s;
}

.Navbar.collapse .logo-anchor {
  line-height: $nav-bar-height-collapse;
}

.Navbar .logo-img {
  vertical-align: middle;
  height: 32px;
}

.Navbar .tab {
  padding: 0 16px;
  cursor: pointer;
  position: relative;
  opacity: .8;
  transition: .3s;
  display: block !important;
  text-align: left;
}

.Navbar .tab span {
  display: inline-block;
  padding-left: 4px;
}

.Navbar .tab:hover,
.Navbar .tab:focus {
  opacity: 1;
}

.Navbar.collapse .tab:hover,
.Navbar.collapse .tab:focus {
  background-color: $bg-color-dark-var1;
}

.Navbar .tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 100%;
  opacity: 0;
  background: $theme-color-primary;
  transition: .3s;
}

.Navbar.collapse .tab::after {
  background: $text-color-var1;
}

.Navbar .tab:hover::after,
.Navbar .tab:focus::after {
  opacity: 1;
}

.Navbar .sidebar {
  color: $text-color-var1 !important;
}

.Navbar .sidebar .tab {
  color: $text-color-var1 !important;
  padding: 12px !important;
  width: 100%;
}

.Navbar .sidebar .tab:hover {
  background-color: inherit !important;
}

.Navbar .sidebar .tab::after {
  background: $theme-color-primary !important;
  height: 1px !important;
}

.Navbar .sidebar-copyright-container {
  position: absolute;
  left: 28px;
  bottom: 12px;
}

.Navbar .burger-icon {
  padding: 16px;
  transition: .3s;
  cursor: pointer;
  opacity: .8;
}

.Navbar .burger-icon:hover {
  opacity: 1;
}

.Navbar.collapse .burger-icon:hover {
  background-color: $bg-color-dark-var1;
}
