@import '_common';

// .Geek .gk-head {
//   margin-bottom: 4px;
// }

.Geek .gk-section {
  padding: 20px 0 0 0;
}

.Geek .gk-title {
  margin-bottom: 12px;
}

.Geek .gk-dir {
  padding: 0 16px;
  color: $text-color-var4;
  line-height: 22px;
}
