@import '_common';

$min-height: 157px;

.Litemessage {
  padding: 10px 0;
  box-sizing: border-box;
  min-height: $min-height;
}

.Litemessage-title {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.Litemessage-title-text {
  display: inline-block;
  margin-right: 8px;
}

.Litemessage-subtitle {
  margin-bottom: 4px;
  color: $text-color-var4;
}

.Litemessage-content {
  line-height: 1.6;
  color: $text-color-var4;
}
